footer {
	display: none;
}

.grid {
	width: 1800px;
	margin: 0 auto;
}

.item {
	position: relative;
	width: 300px;
	float: left;
}

.item .item_content {
	margin: 5px;
	width: 290px;
}

.item p {
	position: absolute;
	width: 290px;
	bottom: 0;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	background: rgba(139, 139, 139, 0.5);
	text-align: right;
}

.item a {
	color: white;
	font-weight: bold;
	text-decoration:none;
}

.playBtn {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	margin:0;
	padding:0;
	width: 80px;
}

/* ブラウザの横幅によって可変させる */
@media (max-width: 1840px) {
	.grid {
		width: 1500px;
	}
}

@media (max-width: 1540px) {
	.grid {
		width: 1200px;
	}
}

@media (max-width: 1240px) {
	.grid {
		width: 900px;
	}
}

@media (max-width: 940px) {
	.grid {
		width: 600px;
	}
}

@media (max-width: 640px) {
	.grid {
		width: 300px;
	}
}

@media (max-width: 340px) {
	.grid {
		width: 100%;
	}
	.grid img {
		width: 100%;
	}
}